
.button-29-Custom {
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 0.375em;
  box-shadow: rgba(45, 35, 66, .4) 0 0.125em 0.25em,rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em,rgba(58, 65, 111, .5) 0 -0.1875em 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  line-height: 1;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.125em;
}

.button-29-Custom:focus {
  box-shadow: #3c4fe0 0 0 0 0.09375em inset, rgba(45, 35, 66, .4) 0 0.125em 0.25em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
}

.button-29-Custom:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 0.25em 0.5em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
  transform: translateY(-0.125em);
}

.button-29-Custom:active {
  box-shadow: #3c4fe0 0 0.1875em 0.4375em inset;
  transform: translateY(0.125em);
}




.button-29 {
  float: right;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 0.375em;
  box-shadow: rgba(45, 35, 66, .4) 0 0.125em 0.25em,rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em,rgba(58, 65, 111, .5) 0 -0.1875em 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex-end;
  font-family: "JetBrains Mono",monospace;
  height: 3em;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.125em;
  margin: 2em 2em;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 0.09375em inset, rgba(45, 35, 66, .4) 0 0.125em 0.25em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 0.25em 0.5em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
  transform: translateY(-0.125em);
}

.button-29:active {
  box-shadow: #3c4fe0 0 0.1875em 0.4375em inset;
  transform: translateY(0.125em);
}






