/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0); /* Modal Close hit box */

  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #1641c0;
  width: 100%;
  /*height: 50vh;*
  max-height: 100%;*/
  max-height:  50vh;
  animation-name: slideIn;
  animation-duration: 0.4s;
  
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #677ff9;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-body h2 {
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #677ff9;
  color: white;
  max-height: 5vh;
  position: absolute;
}

/* Add Animation */
@keyframes slideIn {
  from { bottom: -300px; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-text-color {
  color: white;
}

.mymodal h2 {
  color: white;
}

.modal-body ul {
  color: white;
}

.modal-scroll
{
    overflow: scroll;
max-height: 40vh;
}
.modal-outer
{
    overflow: hidden;
}
