:root {
  --blue: rgb(62, 126, 254);
  --light-blue: rgb(33, 150, 243);
  --primary-color: #3700ff;
}

.logo-wrapper {
  background-color: white;
  /*padding: 0.625em;*/
  text-align: center;
}

.logo {
  height: 5rem;
  max-width: 100%;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.3125em 3.75em;
}

.wrapperLeft {
  flex-basis: 50%;
  margin-left: calc(2% + 0.5em);
}

.wrapperRight {
  flex-basis: 50%;
  margin-left: 4%
}


.color {
  height: 100%;
  background: #001eff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #246dff,
    #38bdff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #246dff,
    #2eb9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@media (max-width: 48em) {
  .color {
    height: 100vh;
  background: #5ca3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,

    #5c85ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,

    #70e2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .card {
    margin: 1rem;
    padding: 1rem;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;

  }

  .wrapper {
    margin: 2em;
    margin-left: 3.6em;
    text-align: center;
  }
  
}



* {
  box-sizing: border-box;
}

body {
  padding: 0;
  height: 100%;
  place-items: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: scroll;
}

h1,
h2,
h3,
p,
ul {
  margin: 0rem;
  color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 3.75em;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  background-color: #eee;
  overflow: scroll;
}

.footer {
  height: 3.75em;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}



.card {
  height: 60vh;
  position: relative;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.0625em solid rgb(0, 0, 0, 0.5);
  border-top-left-radius: 0.5em;
  padding: 0.50rem;
  backdrop-filter: blur(0.625em);
  flex-basis: auto;
  flex-grow: 1;
  overflow-y: scroll;
  box-shadow: 0 0 3.125em #003beb;

  
}

.card:after {
  content: '';
  height: 70vh;
  width: 0.0625em;
  position: absolute;
  left: -0.0625em;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, var(--primary-color), transparent);
  opacity: 0;
  
}

.card:after {
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  margin-top: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 0.0625em,
    transparent 0.0625em
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 2rem;
  border-radius: 1.25rem;

  
}

.card .card-body {
  padding-top: 3.125em; 
  overflow-y: scroll;
}


.card-content::-webkit-scrollbar {
  width: 0.5em;
}

.card-content::-webkit-scrollbar-track {
  background-color: #adadad;
}

.card-content::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 0.625em;
}

.card-content::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}



.card-content > h1, .card-content > h3, .card-content > p {
  text-align: center;
}

.card-content > h1 {
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
}

.ClassName {
  padding-left: 1.25em;
  padding-right: 1.25em;

  color: rgb(0, 0, 0);
  font-size: 2.6rem;
  text-align: center;
  
}

.ClassNameCS
{
  padding: 1.25em;
}

.card-content > h3 {
  color: black;
  text-transform: uppercase;
  font-size: 0.76rem;
}

.card-content > p {
  color: rgb(0, 0, 0);
  line-height: 1.5rem;
}



.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cheatsheets {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.25%;
  margin-right: 5%;
}

button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #001eff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 200ms;
}

button:hover {
  transform: translateY(-0.125em);
}

.link {
  border-top: 0.0625em solid rgba(0, 0, 0, 0.5);
  color: #000000;
  display: block;
  font-size: clamp(2em, 5vmin, 2.5em);
  padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 4vmin, 4em); 
  position: relative;
  text-decoration: none;
}

.link:hover {
  color: var(--light-blue);
}

.link:hover:before {
  transition: width 600ms ease;
  width: 100%;
}

.link:before {
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color) var(--primary-color-percent),
    var(--light-blue)
  );
  content: '';
  left: 0em;
  top: 0em;
  height: 100%;
  width: 0%;
  position: absolute;
}

.screen-reader-text {
  position: absolute;
  top: -624.9375em;
  left: -624.9375em;
}



[class*='icon-'] {
  font-family: 'helvetica';
  font-style: normal;
  font-size: 3em;
}

.IT:after {
  content: 'IT';
  font-size: 3.5rem;
  
}
.SDP:after {
  content: 'SDP';
  font-size: 3rem;
}

.Clear:after {
  content: 'Clear';
  font-size: 3rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: var(--blue);
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -0.25em;
}

.nav li:before {
  content: '';
  display: block;

  width: 100%;
  height: 0.0625em;
  position: fixed;
  top: 50%;
  z-index: -1;
}

.nav a:link,
.nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#e7e7e7)
  );
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);

  color: #ffffff;
  margin: 2.25em;
  width: 9em;
  height: 8.75em;
  position: relative;
  text-align: center;
  line-height: 9em;
  border-radius: 50%;

}

.nav a:focus {
  box-shadow: #3c4fe0 0 0 0 0.09375em inset, rgba(45, 35, 66, .4) 0 0.125em 0.25em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
}

.nav a:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 0.25em 0.5em, rgba(45, 35, 66, .3) 0 0.4375em 0.8125em -0.1875em, #3c4fe0 0 -0.1875em 0 inset;
  transform: translateY(-0.125em);
}

.nav a:active {
  box-shadow: #3c4fe0 0 0.1875em 0.4375em inset;
  transform: translateY(0.125em);
}





 
/* Change the width of the scrollbar */
::-webkit-scrollbar {
  width: 0.125em;
  height: 0.3125em;
}

/* Change the color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Change the color of the track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.3125em;
}

::-webkit-scrollbar {
  width: 0.625em;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 0.3125em;
  border-radius: 0.625em;
}

/* For Firefox */
::-moz-scrollbar {
  width: 0.625em;
  border-radius: 0.625em;
}

/* For IE/Edge */
::-ms-scrollbar {
  width: 0.625em;
  border-radius: 0.625em;
}

/* For all browsers */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 0.625em;
}

::-moz-scrollbar-thumb {
  background-color: white;
  border-radius: 0.625em;
}

::-ms-scrollbar-thumb {
  background-color: white;
  border-radius: 0.625em;
}

/* Select the track of the scrollbar */
::-webkit-scrollbar-track {
  /* Set the background color of the track */
  background-color: #ffffff;

  /* Set the border-radius to create rounded corners */
  border-radius: 0.625em;
}




.link, .new-content {
  color: black;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.link:hover, .new-content:hover {
  --primary-color-percent: 100%;
  color: var(--primary-color);
}

.link::after, .new-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.link:hover::after, .new-content:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.creator-credits {
  font-family: system-ui;
  color: white;
  text-align: center;

  /*position: absolute;
  top: 0;
  right: 0;
  margin-top: 25%;
  margin-right: 50%;*/
}

.footer {
    width: 100%;
    height: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    position: fixed;
    bottom: 1px;
}

.marquee {
  font-size: xx-large;
  font-family: system-ui;
  color: white;
}

.marquee a {
  color: #ffffff;
  text-decoration: none;

}

.marquee a:hover {
    color:#ff0a0a; 
    cursor:pointer;  
}
.marquee a:visited {
    color: #ffffff;
    text-decoration: none; 
}